* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    color: #FFFFFF;
}

h2 {
    text-align: left;
    font-size: 1em;
    position: relative;
    margin-bottom: 5px;
}

h2::after {
    content: '';
    width: 5vw;
    height: 3px;
    border-radius: 3px;
    background: rgb(0, 183, 255);
    position: absolute;
    bottom: -5px;
    left: 0;
}

#quoteAnime {
    text-transform: uppercase;
}

#quote-container {
    background: #fff;
    width: 40vw;
    min-height: 25vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#quote {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    margin-top: 10px;
}